//= partials/header.html

<div id="aboutwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Contacts</h1>
            </div>
        </div><! --/row -->
    </div> <!-- /container -->
</div><! --/aboutwrap -->

<div class="container">
    <div class="row centered mt mb">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="about-wrapper">
                <p class="info">
                    Information
                </p>
            </div>

        </div>

    </div><! --/row -->
</div><! --/container -->

//= partials/footer.html